* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

main {
    display: flex;
    align-items: flex-start;
}
    .customers {
        align-items: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .customer {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .customer p {
        font-size: 14px;
        color: #777;
    }

.navBar {
    height: 50px;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        height: 40px;
        vertical-align: middle;
    }

    ul {
        list-style: none;
        display: flex;
    }

    li {
        margin: 10px;
    }

    .accountButton{
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
        text-decoration: none; 
    }

    .accountButton:hover {
        background-color: #0056b3;
        text-decoration: none;
    }
}

.filterBar {
    height: 100vh;
    width: 150px;
    display: flex;
    background-color: blue;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin: 0 auto;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Add more styles as needed */
